{% extends "landing_page/assett/base.html" %}
{% load static %}
{% block content %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'landing_page/cert_style.css' %}">
<div class="galleria-cert">
<ul class="cert">
<li class="li-cert">
    <span class="span-cert">Beach</span>
    <img class="img-cert" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg" /></li>
  
  <li class="li-cert">
    <span class="span-cert">Mountain</span>
    <img class="img-cert" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg"/>

  <li class="li-cert">
    <span class="span-cert">Beach</span>
    <img class="img-cert" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg" /></li>
  
  <li class="li-cert">
    <span class="span-cert">Mountain</span>
    <img class="img-cert" src="https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg" /></li>
  
  <li class="li-cert">
    <span class="span-cert">Hills</span>
    <img class="img-cert" src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg" /></li>
  
  <li class="li-cert">
    <span class="span-cert">Island</span>
    <img class="img-cert" src="https://images.pexels.com/photos/248771/pexels-photo-248771.jpeg" />
  </li>
  
  <li class="li-cert">
    <span class="span-cert">Nature</span>
    <img class="img-cert" src="https://images.pexels.com/photos/145685/pexels-photo-145685.jpeg" />
  </li>
</ul>
</div>

</body>
{% endblock %}